$fontFamily: "Poppins", sans-serif;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #435def;
  background: -webkit-linear-gradient(bottom right, #9e4ac5, #5986f0);
  font-family: $fontFamily;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
